<div class="container">
	<app-back></app-back>
	<div class="container__group container__group--center">
		<div class="one-group">
			<div class="container__title">Kontakt</div>
			<div class="container__link">
				<div class="icon icon--at container__link-icon"></div>
				<a href="mailto:viktoria.czepulkowska@gmail.com" class="container__link-href"
					>viktoria.czepulkowska@gmail.com</a
				>
			</div>
			<div class="container__link">
				<div class="icon icon--linkedin container__link-icon"></div>
				<a href="https://www.linkedin.com/in/wiktoria-czepułkowska" class="container__link-href"
					>Linkedin</a
				>
			</div>
		</div>
	</div>
</div>
