// COLORS

$color-black: #323;
$color-white: #fff;
$color-pink: #ff2da8;
$color-green: #58d295;
$color-blue: #8c92f4;
$color-yellow: #ffe27a;
$color-orange: #ffa279;

// FONT WEIGHTS

$weight-bold: 900;
$weight-normal: normal;

// MEDIA QUERIES

$bp-xl: 'max-width: 1200px';
$bp-l: 'max-width: 1024px';
$bp-m: 'max-width: 768px';
$bp-s: 'max-width: 480px';

// ICONS

$icon-left: '\e900';
$icon-at: '\e901';
$icon-github: '\e902';
$icon-close: '\e903';
$icon-codepen: '\e904';
$icon-linkedin: '\eac9';
