<div class="container">
	<app-back></app-back>
	<div class="container__group">
		<div class="left-side">
			<div class="container__title">Wiktoria Czepułkowska</div>
			<div class="container__content">
				<div class="container__paragraph">
					Jestem Frontend Developerką ze Śląska, miłośniczką gór i przygód. Na co dzień cenię
					kreatywne podejście do rzeczywistości i pozytywne nastawienie.
				</div>
				<div class="container__paragraph">
					Uważam, że nie ma rzeczy niemożliwych do wykonania. Są rzeczy trudne, ale jest też wiedza,
					którą można zdobyć, by je wykonać.
				</div>
				<div class="container__paragraph">
					Koncentruję się na rozwijaniu nabytych umiejętności oraz poznawaniu nowych tematów,
					przydatnych w codziennej pracy.
				</div>
				<div class="container__paragraph">
					W programowaniu odnalazłam pasję, którą rozwijam każdego dnia. Dzięki temu robię to, co
					lubię, czerpiąc satysfakcję z każdej linijki kodu.
				</div>
			</div>
		</div>
		<div class="right-side">
			<div class="right-side__image"></div>
		</div>
	</div>
</div>
