<div class="container">
	<app-back></app-back>
	<div class="container__group container__group--center">
		<div class="one-group">
			<div class="container__title">Kontakt</div>
			<div class="container__link">
				<div class="icon icon--github container__link-icon"></div>
				<a href="https://github.com/bigbugfactory" class="container__link-href">Github</a>
			</div>
			<div class="container__link">
				<div class="icon icon--codepen container__link-icon"></div>
				<a href="https://codepen.io/vbeetlejuice" class="container__link-href">Codepen</a>
			</div>
		</div>
	</div>
</div>
