@import 'variables';
@import 'text';

.button-back {
	display: flex;
	align-items: center;
	position: absolute;
	top: 50px;
	left: 50px;
	cursor: pointer;
	color: $color-white;

	@media ($bp-s) {
		top: 20px;
		left: 20px;
	}
}

.button-back__text {
	@include text-body-2;
	text-transform: uppercase;
	letter-spacing: 3px;
}
